@import url(../fonts/Futura/Futura.css);
@-webkit-keyframes spinner-inner {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes spinner-inner {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes spinner-outer {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner-outer {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

html *,
html ul,
html p {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  font-family: "Futura", sans-serif;
}

html a {
  text-decoration: none;
  cursor: pointer;
}

html a:hover {
  color: inherit;
  text-decoration: none;
}

html section {
  overflow: hidden;
}

html p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #888888;
}

html h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  padding-bottom: 10px;
}

html h2 {
  font-size: 64px;
  font-weight: 700;
  padding-bottom: 30px;
  color: #222222;
}

html h3 {
  font-weight: 500;
  line-height: 1.5;
  font-size: 20px;
  color: #333333;
}

html input::-webkit-outer-spin-button,
html input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html input[type="number"] {
  -moz-appearance: textfield;
}

html .btn-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 290px;
  height: 60px;
  border-radius: 100px;
  background: #1a6192;
  color: white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

html .btn-default:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  color: white;
}

header {
  width: 100%;
}

header .navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header .navigation .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1500px;
  padding: 0 30px;
  margin: auto;
}

header .navigation .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 130px;
  width: 100px;
  background: #ffffff;
  border-radius: 0px 0px 10px 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header .navigation .logo img {
  max-width: 100%;
}

header .navigation .logo .logo-down {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header .navigation .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

header .navigation .nav-links li a {
  font-weight: 500;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 16px;
  transition: all 0.5s ease;
}

header .navigation .nav-links li a:hover {
  color: #fca624;
}

header .navigation .lang-box {
  width: 90px;
  height: 60px;
  border-radius: 100px;
  background: #1a6192;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0px 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
}

header .navigation .lang-box:hover img {
  -webkit-transform: rotate(-90deg) translateY(10px);
          transform: rotate(-90deg) translateY(10px);
}

header .navigation .lang-box a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
          flex: 0 0 0;
  height: 30px;
  background-size: 100% 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

header .navigation .lang-box a.ru {
  background: url(/assets/icons/ru.svg) center center no-repeat;
}

header .navigation .lang-box a.uz {
  background: url(/assets/icons/uz.svg) center center no-repeat;
}

header .navigation .lang-box a.eng {
  background: url(/assets/icons/en.svg) center center no-repeat;
}

header .navigation .lang-box a.active {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  opacity: 1;
  visibility: visible;
}

header .navigation .lang-box img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

header .navigation .lang-box.active {
  width: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navigation .lang-box.active a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  opacity: 1;
  visibility: visible;
}

header .navigation .mobile-btns {
  display: none;
}

header .navigation .mobile-btns .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

header .navigation .mobile-btns .hamburger:hover {
  opacity: 0.7;
}

header .navigation .mobile-btns .hamburger.is-active:hover {
  opacity: 0.7;
}

header .navigation .mobile-btns .hamburger.is-active .hamburger-inner,
header .navigation .mobile-btns .hamburger.is-active .hamburger-inner::before,
header .navigation .mobile-btns .hamburger.is-active .hamburger-inner::after {
  background-color: white;
}

header .navigation .mobile-btns .hamburger-box {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .navigation .mobile-btns .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

header .navigation .mobile-btns .hamburger-inner,
header .navigation .mobile-btns .hamburger-inner::before,
header .navigation .mobile-btns .hamburger-inner::after {
  width: 24px;
  height: 2px;
  background-color: white;
  border-radius: 2px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

header .navigation .mobile-btns .hamburger-inner::before,
header .navigation .mobile-btns .hamburger-inner::after {
  content: "";
  display: block;
}

header .navigation .mobile-btns .hamburger-inner::before {
  top: -6px;
}

header .navigation .mobile-btns .hamburger-inner::after {
  bottom: -6px;
}

header .navigation .mobile-btns .hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

header .navigation .mobile-btns .hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.12s ease, opacity 0.1s ease;
  transition: top 0.1s 0.12s ease, opacity 0.1s ease;
}

header .navigation .mobile-btns .hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.12s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.12s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.12s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.12s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

header .navigation .mobile-btns .hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

header .navigation .mobile-btns .hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease, opacity 0.1s 0.2s ease;
  transition: top 0.1s ease, opacity 0.1s 0.2s ease;
}

header .navigation .mobile-btns .hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease, -webkit-transform 0.1s 0.2s cubic-bezier(0.2, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, -webkit-transform 0.1s 0.2s cubic-bezier(0.2, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.2s cubic-bezier(0.2, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.2s cubic-bezier(0.2, 0.61, 0.355, 1), -webkit-transform 0.1s 0.2s cubic-bezier(0.2, 0.61, 0.355, 1);
}

header .navigation.nav-change {
  background: white;
}

header .navigation.nav-change .logo {
  height: 90px;
}

header .navigation.nav-change .logo .logo-down {
  height: 0;
  opacity: 0;
  visibility: hidden;
}

header .navigation.nav-change .nav-links li a {
  color: #1a6192;
}

#healing,
#rooms,
#relax,
#booking,
#contacts,
#about {
  position: absolute;
  top: -50px;
}

.introduction {
  position: relative;
  width: 100%;
  height: 100vh;
}

.introduction .bg-main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.introduction .bg-main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.introduction .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
  padding: 0px 30px;
}

.introduction .wrapper .info h4 {
  font-size: 18px;
  color: white;
  padding-bottom: 15px;
}

.introduction .wrapper .info .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 600px;
}

.introduction .wrapper .info .services li {
  padding-bottom: 20px;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction .wrapper .info .services li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background: #fca624;
  border-radius: 50%;
  margin-right: 10px;
}

.introduction .wrapper .info .services li p {
  font-weight: 500;
  color: #fefefe;
}

.introduction .wrapper .info .btn-default {
  margin-top: 15px;
}

.introduction .wrapper .video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  height: 600px;
}

.introduction .wrapper .video .play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 60px;
  height: 60px;
  background: url("/assets/icons/intro-play.svg") center center no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 2;
}

.introduction .wrapper .video .inner-circle {
  position: absolute;
  width: 80%;
  height: 80%;
  border: 20px solid #fca624;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: spinner-inner 5s infinite;
          animation: spinner-inner 5s infinite;
}

.introduction .wrapper .video .inner-circle::after, .introduction .wrapper .video .inner-circle::before {
  position: absolute;
  content: "";
  bottom: 10.9%;
  right: 10.7%;
  width: 20px;
  height: 20px;
  background: #fca624;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.introduction .wrapper .video .inner-circle::before {
  bottom: unset;
  left: 10.9%;
  top: 10.6%;
  right: unset;
}

.introduction .wrapper .video .outer-circle {
  position: absolute;
  width: 90%;
  height: 90%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: spinner-outer 5s infinite;
          animation: spinner-outer 5s infinite;
}

.introduction .wrapper .video .video-src {
  width: 65%;
  height: 65%;
  margin: auto;
  background: url("/assets/img/intro-video.png") center center no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 2;
}

.introduction .cloud {
  height: 300px;
  width: 100%;
  margin-top: -100px;
}

.introduction .cloud img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.healing {
  padding: 100px 30px 150px;
  position: relative;
}

.healing .wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.healing .wrapper .methods {
  position: relative;
}

.healing .wrapper .methods .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.healing .wrapper .methods .item .info {
  padding-right: 30px;
}

.healing .wrapper .methods .item .info .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}

.healing .wrapper .methods .item .info .title .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.healing .wrapper .methods .item .info .title .details p {
  padding-right: 10px;
  color: #fca624;
}

.healing .wrapper .methods .item .info .information {
  max-height: 300px;
  overflow: auto;
}

.healing .wrapper .methods .item .info .information p {
  color: #888888;
  padding-bottom: 20px;
}

.healing .wrapper .methods .item .img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.healing .wrapper .methods .item .img img {
  max-width: 100%;
}

.healing .wrapper .methods .owl-nav {
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
  width: 320px;
  height: 60px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.healing .wrapper .methods .owl-nav .owl-prev,
.healing .wrapper .methods .owl-nav .owl-next {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #1a6192;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.healing .wrapper .methods .owl-nav .owl-prev span,
.healing .wrapper .methods .owl-nav .owl-next span {
  color: white;
  font-size: 60px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  margin-bottom: 10px;
}

.healing .wrapper .methods .owl-dots {
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  width: 170px;
  height: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

.healing .wrapper .methods .owl-dots .owl-dot {
  width: 12px;
  height: 4px;
  background: #ccc;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.healing .wrapper .methods .owl-dots .owl-dot.active {
  background: #fca624;
}

.healing .wrapper .methods .owl-dots::after {
  content: "1";
  position: absolute;
  bottom: -3px;
  left: 0;
  font-size: 22px;
  font-weight: 500;
  color: #fca624;
}

.healing .wrapper .methods .owl-dots::before {
  content: "10";
  position: absolute;
  bottom: -3px;
  right: 0;
  font-size: 22px;
  font-weight: 500;
  color: #fca624;
}

.healing .wrapper .btn-default {
  width: 220px;
  background: #fca624;
  position: absolute;
  left: 0;
  bottom: -80px;
}

.healing.rooms {
  padding: 120px 30px;
  margin: 50px 0;
  position: relative;
  height: 800px;
}

.healing.rooms .bg-main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.healing.rooms .bg-main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.healing.rooms .cloud {
  position: absolute;
  top: -150px;
  left: 0;
  right: 0;
  height: 300px;
  width: 100%;
}

.healing.rooms .cloud img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.healing.rooms .cloud.down {
  top: unset;
  bottom: -175px;
}

.healing.rooms .wrapper h2 {
  color: white;
}

.healing.rooms .wrapper .methods .item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.healing.rooms .wrapper .methods .item .info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.healing.rooms .wrapper .methods .item .info .title h3 {
  color: white;
}

.healing.rooms .wrapper .methods .item .info .information p {
  color: white;
}

.healing.rooms .wrapper .methods .owl-dots .owl-dot {
  width: 20px;
}

.healing.rooms .wrapper .methods .owl-dots::before {
  content: "5";
}

.healing.relax {
  padding: 30px;
}

.healing.relax .wrapper {
  margin-bottom: 100px;
}

.healing.relax .wrapper .methods .owl-dots::before {
  content: "7";
}

.booking {
  padding: 120px 30px;
  margin: 50px 0;
  position: relative;
  height: 500px;
}

.booking .bg-main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.booking .bg-main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.booking .cloud {
  position: absolute;
  top: -150px;
  left: 0;
  right: 0;
  height: 300px;
  width: 100%;
}

.booking .cloud img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.booking .cloud.down {
  top: unset;
  bottom: -150px;
}

.booking .wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.booking .wrapper h2 {
  color: white;
  text-align: center;
}

.booking .wrapper .booking-form {
  width: 100%;
}

.booking .wrapper .booking-form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.booking .wrapper .booking-form .inputs input {
  height: 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24%;
          flex: 0 0 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
  border-radius: 100px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
}

.booking .wrapper .booking-form .inputs input::-webkit-input-placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.booking .wrapper .booking-form .inputs input:-ms-input-placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.booking .wrapper .booking-form .inputs input::-ms-input-placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.booking .wrapper .booking-form .inputs input::placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.booking .wrapper .booking-form .inputs input[type="date"]::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.booking .wrapper .booking-form .inputs input[type="date"]::-webkit-datetime-edit {
  text-align: center;
  font-size: 18px;
}

.booking .wrapper .booking-form .btn-default {
  border: none;
  margin: 0 auto;
  width: 360px;
}

.news {
  padding: 50px 30px 150px;
}

.news h2 {
  text-align: center;
  padding-bottom: 30px;
}

.news .wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.news .wrapper .news-carousel {
  position: relative;
}

.news .wrapper .news-carousel .item .img {
  margin-bottom: 20px;
  overflow: hidden;
}

.news .wrapper .news-carousel .item .img img {
  max-width: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.news .wrapper .news-carousel .item .info p {
  color: #888888;
}

.news .wrapper .news-carousel .item:hover .img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.news .wrapper .news-carousel .owl-nav {
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
  width: 320px;
  height: 60px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news .wrapper .news-carousel .owl-nav .owl-prev,
.news .wrapper .news-carousel .owl-nav .owl-next {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #1a6192;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .wrapper .news-carousel .owl-nav .owl-prev span,
.news .wrapper .news-carousel .owl-nav .owl-next span {
  color: white;
  font-size: 60px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  margin-bottom: 10px;
}

.news .wrapper .news-carousel .owl-dots {
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  width: 170px;
  height: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

.news .wrapper .news-carousel .owl-dots .owl-dot {
  width: 30px;
  height: 4px;
  background: #ccc;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.news .wrapper .news-carousel .owl-dots .owl-dot.active {
  background: #fca624;
}

.news .wrapper .news-carousel .owl-dots::after {
  content: "1";
  position: absolute;
  bottom: -3px;
  left: 0;
  font-size: 22px;
  font-weight: 500;
  color: #fca624;
}

.news .wrapper .news-carousel .owl-dots::before {
  content: "12";
  position: absolute;
  bottom: -3px;
  right: 0;
  font-size: 22px;
  font-weight: 500;
  color: #fca624;
}

.contacts {
  padding: 30px;
  position: relative;
  height: 550px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts .cloud {
  position: absolute;
  top: -150px;
  left: 0;
  right: 0;
  height: 300px;
  width: 100%;
  z-index: 2;
}

.contacts .cloud img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts .cloud.down {
  top: unset;
  bottom: -80px;
}

.contacts iframe {
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts .contact-info {
  padding: 30px;
  border-radius: 10px;
  background: white;
  z-index: 3;
  max-width: 400px;
  margin-left: 50px;
}

.contacts .contact-info h3 {
  text-transform: uppercase;
}

.contacts .contact-info h4 {
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 15px;
}

.contacts .contact-info a {
  color: #888888;
}

.contacts .contact-info .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

.contacts .contact-info .socials a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts .contact-info .socials a img {
  margin-right: 20px;
}

.internal-page {
  max-width: 1500px;
  margin: auto;
  padding: 100px 30px;
}

.internal-page h1 {
  color: #1a6192;
  padding-bottom: 40px;
  font-size: 32px;
}

.internal-page .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.internal-page .info .text {
  padding-right: 30px;
}

.internal-page .info .text p {
  padding-bottom: 20px;
  color: #888888;
}

.internal-page .info .img {
  position: relative;
}

.internal-page .info .img.owl-carousel {
  width: 40%;
}

.internal-page .info .img img {
  max-height: 360px;
  width: auto;
}

.internal-page .info .img .owl-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.internal-page .info .img .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin: 0 5px;
}

.internal-page .info .img .owl-dots .owl-dot.active {
  background: rgba(255, 255, 255, 0.8);
}

.internal-page .price {
  border: 1px solid #1a6192;
  border-right: transparent;
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #F2F9FF;
  margin-top: 50px;
}

.internal-page .price .item {
  border-right: 1px solid #1a6192;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  padding: 0px 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.internal-page .price .item p {
  font-weight: 500;
  color: #1a6192;
}

.internal-page .price .item.last {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.internal-page .price .item.no-third {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.internal-page .price.table {
  margin: 0 0 30px;
}

.internal-page .price.table .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
}

.internal-page.other {
  padding: 20px 30px;
}

.internal-page.first {
  padding: 100px 30px 0;
}

footer {
  max-width: 1500px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  position: relative;
  top: -30px;
  z-index: 3;
}

footer h4 {
  font-size: 18px;
  color: #333;
  text-align: center;
}

footer p {
  color: #888;
  text-align: center;
}

footer a {
  width: 80px;
}

footer a img {
  max-width: 100%;
}

@media (max-width: 1440px) {
  .introduction .wrapper .video {
    width: 450px;
    height: 450px;
  }
  .introduction .wrapper .video .inner-circle::after {
    bottom: 9%;
    right: 9.8%;
  }
  .introduction .wrapper .video .inner-circle::before {
    top: 9%;
    left: 9.8%;
  }
}

@media (max-width: 1200px) {
  html .btn-default {
    width: 200px;
    height: 40px;
    font-size: 12px;
  }
  html h1,
  html h2 {
    font-size: 32px;
  }
  header .navigation {
    padding: 0px 20px;
  }
  header .navigation .logo {
    width: 80px;
    height: 80px;
  }
  header .navigation .logo img {
    max-width: 80%;
  }
  header .navigation .wrapper {
    padding: 0;
  }
  header .navigation .nav-links {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  header .navigation .nav-links li a {
    font-size: 14px;
  }
  header .navigation .lang-box {
    width: 60px;
    height: 40px;
  }
  header .navigation .lang-box a img:nth-child(1) {
    width: 20px;
    height: 20px;
  }
  header .navigation .btn-default {
    display: none;
  }
  header .navigation.nav-change .logo {
    height: 60px;
  }
  .introduction {
    height: 600px;
  }
  .introduction .wrapper {
    padding: 0px 20px;
  }
  .introduction .wrapper .video {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
    height: 300px;
  }
  .introduction .wrapper .video .play {
    width: 30px;
    height: 30px;
  }
  .introduction .wrapper .video .inner-circle {
    border: 10px solid #fca624;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  .introduction .wrapper .video .inner-circle::after, .introduction .wrapper .video .inner-circle::before {
    width: 9.5px;
    height: 9.5px;
    bottom: 11%;
    right: 11%;
  }
  .introduction .wrapper .video .inner-circle::before {
    top: 10.9%;
    left: 10.9%;
  }
  .introduction .cloud {
    height: 150px;
  }
  .healing {
    padding: 50px 20px 0px;
  }
  .healing .wrapper .methods .item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .healing .wrapper .methods .item .info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-height: 200px;
    margin-bottom: 30px;
  }
  .healing .wrapper .methods .item .info .title h3 {
    padding-bottom: 0;
  }
  .healing .wrapper .methods .item .info .information p:nth-child(2), .healing .wrapper .methods .item .info .information p:nth-child(4) {
    display: none;
  }
  .healing .wrapper .methods .item .img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .healing .wrapper .methods .item .img img {
    max-height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .healing .wrapper .methods .owl-nav .owl-next,
  .healing .wrapper .methods .owl-nav .owl-prev {
    width: 40px;
    height: 40px;
  }
  .healing .wrapper .methods .owl-nav .owl-next span,
  .healing .wrapper .methods .owl-nav .owl-prev span {
    font-size: 40px;
    margin-bottom: 5px;
  }
  .healing.rooms {
    height: auto;
  }
  .healing.rooms .wrapper .methods .item .info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding-right: 0;
    height: 200px;
    overflow: auto;
    margin-bottom: 30px;
  }
  .healing.rooms .wrapper .methods .item .info .information p {
    display: block;
  }
  .healing.rooms .wrapper .methods .owl-dots {
    bottom: -80px;
  }
  .healing.rooms .wrapper .methods .owl-nav {
    bottom: -100px;
  }
  .booking {
    height: 400px;
  }
  .booking .wrapper .booking-form .inputs input {
    height: 40px;
  }
  .news {
    padding: 0 20px 100px;
  }
  .news .wrapper .news-carousel .owl-nav .owl-next,
  .news .wrapper .news-carousel .owl-nav .owl-prev {
    width: 40px;
    height: 40px;
  }
  .news .wrapper .news-carousel .owl-nav .owl-next span,
  .news .wrapper .news-carousel .owl-nav .owl-prev span {
    font-size: 40px;
    margin-bottom: 5px;
  }
  .contacts .contact-info {
    margin-left: 0;
    max-width: 300px;
  }
  .internal-page {
    padding: 100px 20px 50px;
  }
  .internal-page h1 {
    padding-bottom: 20px;
  }
  .internal-page .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .internal-page .info .text {
    padding-right: 0;
    padding-top: 30px;
  }
  .internal-page .info .img {
    padding-top: 20px;
  }
  .internal-page .info .img img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: auto;
  }
  .internal-page .info .img.owl-carousel {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .news .wrapper .news-carousel .owl-dots .owl-dot {
    width: 20px;
  }
  .healing .wrapper {
    margin-bottom: 50px;
  }
  .healing .wrapper .btn-default {
    position: static;
    margin: 20px auto;
  }
  .healing .wrapper .methods .owl-dots {
    bottom: -105px;
  }
  .healing .wrapper .methods .owl-nav {
    bottom: -120px;
    width: 300px;
  }
}

@media (max-width: 768px) {
  header .navigation {
    padding: 10px 15px;
  }
  header .navigation .logo {
    height: auto;
    width: 50px;
  }
  header .navigation .logo img {
    max-width: 100%;
  }
  header .navigation .nav-links {
    position: fixed;
    top: -200%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header .navigation .lang-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    left: -200%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header .navigation .btn-default {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 140px;
  }
  header .navigation .mobile-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1a6192;
  }
  header .navigation.active .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 20;
    background: #fff;
  }
  header .navigation.active .nav-links li {
    text-align: center;
    padding: 20px;
  }
  header .navigation.active .nav-links li a {
    font-size: 20px;
    color: #1a6192;
  }
  header .navigation.active .mobile-btns {
    z-index: 20;
  }
  header .navigation.active .lang-box {
    left: unset;
    z-index: 20;
  }
  .introduction {
    margin-top: 80px;
    height: 800px;
  }
  .introduction .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .introduction .wrapper .info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-top: 30px;
  }
  .introduction .wrapper .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
  .introduction .cloud {
    margin-top: -70px;
  }
  .healing.rooms {
    padding: 50px 20px 100px;
  }
  .healing.rooms .cloud {
    top: -50px;
    height: 100px;
  }
  .healing.rooms .cloud.down {
    bottom: -50px;
  }
  .healing.rooms .wrapper .methods .owl-nav {
    bottom: -135px;
  }
  .healing.rooms .wrapper .methods .owl-dots {
    bottom: -115px;
  }
  .healing.rooms .wrapper .methods .item .img {
    margin-top: 20px;
  }
  .healing.rooms .wrapper .methods .item .info {
    margin-bottom: 0;
  }
  .healing.relax {
    padding: 0px 20px;
  }
  .healing.relax .wrapper .methods .item .img {
    margin-top: 20px;
  }
  .healing .wrapper .methods .item .info {
    padding-right: 0;
    margin-bottom: 0;
  }
  .healing .wrapper .methods .item .info .information {
    height: 150px;
    overflow: auto;
    margin-bottom: 0;
  }
  .healing .wrapper .methods .item .info .information p {
    padding-bottom: 10px;
  }
  .healing .wrapper .methods .item .info .title {
    padding-right: 15px;
  }
  .healing .wrapper .methods .item .info .title h3 {
    font-size: 18px;
  }
  .healing .wrapper .methods .item .info .title .details img {
    display: none;
  }
  .healing .wrapper .methods .item .img {
    margin-top: 20px;
  }
  .booking {
    padding: 50px 20px;
    margin: 0;
    height: auto;
  }
  .booking .cloud {
    top: -50px;
    height: 100px;
  }
  .booking .cloud.down {
    bottom: -50px;
  }
  .booking .wrapper .booking-form .inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .booking .wrapper .booking-form .inputs input {
    width: 300px;
    margin-bottom: 20px;
    margin: 0 auto 20px;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
  .booking .wrapper .booking-form .btn-default {
    width: 300px;
  }
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin-top: 30px;
  }
  .contacts iframe {
    position: unset;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contacts .cloud {
    height: 100px;
    top: -70px;
  }
  .contacts .cloud.down {
    position: static;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: -50px;
  }
  .contacts .contact-info {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    max-width: unset;
    padding: 0 20px;
    width: 100%;
  }
  .contacts .contact-info .socials a img {
    width: 30px;
    height: 30px;
  }
  footer {
    padding: 30px 20px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer h4,
  footer p {
    width: 100%;
    padding-bottom: 15px;
  }
  .internal-page.other {
    padding: 0px 20px;
  }
  .internal-page.first {
    padding: 90px 20px 0;
  }
  .internal-page h1 {
    padding-bottom: 0px;
    padding-top: 0;
    font-size: 24px;
  }
  .internal-page .info .text {
    padding-top: 20px;
  }
  .internal-page .price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    border-right: 1px solid #1a6192;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .internal-page .price .item {
    height: auto;
    border-right: unset;
    margin: 10px 0;
  }
}

@media (max-width: 576px) {
  .news .wrapper .news-carousel .owl-dots .owl-dot {
    width: 10px;
  }
}
/*# sourceMappingURL=navfooter.css.map */